<div class="nav-contain closed">
    <div class="logo pull-left">
        <img src="core/public/image/isn-tick.png" />
    </div>
    <div class="nav-status pull-left">
        <div class="nav-open">
            <img src="core/public/image/nav-open.png" />
        </div>
        <div class="nav-closed">
            <img src="core/public/image/nav-closed.png" />
        </div>
    </div>
    <ul class="navigation pull-left">
        <li class="about"><a href="#about">About</a></li>
        <li class="core"><a href="#core">Core</a></li>
        <li class="team"><a href="#team">Team</a></li>
        <li class="fits"><a href="#fits">Fits</a></li>
        <li class="forums"><a href="#forums">Forums</a></li>
    </ul>
</div>
