<div class="row">
    <div class="col-md-4 sites shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Proficiency</h3>
            <ol>
                <li>Vanguards (12-man fleets): 100+ Million ISK per hour</li>
                <li>Assaults (20-man fleets): 125+ Million ISK per hour</li>
                <li>Headquarters (40-man fleets): 200+ Million ISK per hour</li>
                <li>Kundalini Manifest (80-man fleets): 63 Million ISK per site</li>
            </ol>
        </div>
    </div>
    <div class="col-md-4 promo shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Promo Videos</h3>
            <ul>
                <li data-source="//www.youtube.com/embed/RgBh4yjHafI">Promo 1 by Harudath</li>
                <li data-source="//www.youtube.com/embed/obXNB4BdFIw">Promo 2 by WINMATARCITIZEN</li>
                <li data-source="//www.youtube.com/embed/qNbJPXhrgjo">Promo 3 by Jezaja</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 welcome shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <div>Incursion</div>
            <div class="changeable">Shiny</div>
            <div>Network</div>
        </div>
    </div>
</div>