<div class="row">
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Global Community</h3>
            <div class="carousel slide global-community" data-ride="carousel" data-interval="0">
                <ol class="carousel-indicators">
                    <li data-target=".global-community" data-slide-to="0" class="active"></li>
                    <li data-target=".global-community" data-slide-to="1"></li>
                    <li data-target=".global-community" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <p class="title">PREMIUM INCURSION FLEETS</p>
                    </div>
                    <div class="item">
                        <p class="title">
                            ISN strives for optimal performance and maximizing ISK per hour ratio.
                            With a diverse player-base that spans across the globe, ISN members are disciplined, mature, focused, efficient and most important; friendly.
                            Like other communities, ISN has endured hardships that forged an expansion of limits and developed into the community it is today.
                            ISN has engineered and embraced fundamental standards that all members are expected to uphold.
                        </p>

                    </div>
                    <div class="item">
                        <p class="title">
                            ISNs player-base consists of a diverse group of  members spanning across the globe.
                            This diversity continues in-game as our members list is comprised of high-sec dwellers, null-sec loyalists, pirates and miners etc.
                            The primary language of communication for ISN is English and Management/Officer personnels like to keep it "clean".
                            No profanity allowed! No bad, strong or foul language, no swearing, cursing, cussing or using expletives.
                        </p>
                    </div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".global-community" data-slide="prev" class="prev"></div>
                    <div data-target=".global-community" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Culture</h3>
            <div class="carousel slide culture" data-ride="carousel" data-interval="0">
                <ol class="carousel-indicators">
                    <li data-target=".culture" data-slide-to="0" class="active"></li>
                    <li data-target=".culture" data-slide-to="1"></li>
                    <li data-target=".culture" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <p class="title">
                            WIN OVERWHELMING NUMBERS OF CONTEST
                        </p>
                    </div>
                    <div class="item">
                        <p class="title">
                            The culture of ISN revolves around two fundamental ideals: Trust and ISK.
                            ISN places a high value on trust in the community.
                            ISN members are extremely helpful and willing to assist each other in various tasks.
                            ISN believes "there are no stupid questions, only stupid answers."
                            Our members exercise strong professionalism in day-to-day activities including typing only "GC" or "GF" in local after a contest.
                            ISN is a friendly community therefore rude behavior and smack talk is forbidden.
                        </p>
                    </div>
                    <div class="item">
                        <p class="title">
                            ISN enjoys and encourages contesting with other Incursion communities in sites.
                            Contesting improves the ISK per hour ratio by cutting down on site completion times.
                            Additionally, they provide a challenge which is a refreshing contrast to the perpetual grind that can be Incursions.
                            ISN relishes the challenge when it finds one and encourages other communities to "step up their game".
                        </p>
                    </div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".culture" data-slide="prev" class="prev"></div>
                    <div data-target=".culture" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Fleet Composition</h3>
            <div class="carousel slide fleet-composition" data-ride="carousel" data-interval="0">
                <ol class="carousel-indicators">
                    <li data-target=".fleet-composition" data-slide-to="0" class="active"></li>
                    <li data-target=".fleet-composition" data-slide-to="1"></li>
                    <li data-target=".fleet-composition" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <p class="title">
                            EXPERIENCED FCS AND FC TRAINING PROGRAMS
                        </p>
                    </div>
                    <div class="item">
                        <p class="title">
                            As a friendly but professional community, ISN strives to provide the best fleet experience possible to anyone who joins an ISN approved fleet.
                            ISN welcomes pilots with options.
                            The larger the variety of ships you as a pilot can fly competently, the more you can offer to ISN fleets and the community.
                            This ability is often rewarding, allowing pilots to enter ISN fleet as DPS or LOGI, depending on what the fleet requires.
                        </p>
                    </div>
                    <div class="item">
                        <p class="title">
                            ISN is first and foremost concerned with the safety of all ISN approved fleets and community members.
                            ISN utilizes a core backbone of quality logistic pilots and off-grid boosters.
                            ISN fleets are coordinated by highly trained FCs (Fleet Commanders) whose primary concern is the safety of his/her fleet.
                            ISN FCs will never needlessly endanger ships to contest another community and/or to propagate any agenda.
                        </p>
                    </div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".fleet-composition" data-slide="prev" class="prev"></div>
                    <div data-target=".fleet-composition" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
</div>