<div class="nav-contain closed">
    <div class="logo pull-left">
        <img src="isn/public/image/isn-tick.png" />
    </div>
    <div class="nav-status pull-left">
        <div class="nav-open">
            <img src="isn/public/image/nav-open.png" />
        </div>
        <div class="nav-closed">
            <img src="isn/public/image/nav-closed.png" />
        </div>
    </div>
    <ul class="navigation pull-left">
        <li data-page="about"><a href="#about">About</a></li>
        <li data-page="details"><a href="#details">Core</a></li>
        <li data-page="team"><a href="#team">Team</a></li>
        <li data-page="fits"><a href="#fits">Fits</a></li>
        <li data-page="forums"><a href="#forums">Forums</a></li>
    </ul>
</div>
