<div class="row">
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Management</h3>
            <div class="carousel slide global-community" data-ride="carousel" data-interval="0">
                <ol class="carousel-indicators">
                    <li data-target=".global-community" data-slide-to="0" class="active"></li>
                    <li data-target=".global-community" data-slide-to="1"></li>
                    <li data-target=".global-community" data-slide-to="2"></li>
                    <li data-target=".global-community" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item no-margin active">
                        <div class="picture-bg boz"></div>
                        <div class="carousel-caption">BOZL1N</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg kod"></div>
                        <div class="carousel-caption">KODAVOR</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg nob"></div>
                        <div class="carousel-caption">NOBLE RANGER</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg rel"></div>
                        <div class="carousel-caption">RELIC AMATIN</div>
                    </div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".global-community" data-slide="prev" class="prev"></div>
                    <div data-target=".global-community" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Officers</h3>
            <div class="carousel slide culture" data-ride="carousel" data-interval="0">
                <ol class="carousel-indicators">
                    <li data-target=".culture" data-slide-to="0" class="active"></li>
                    <li data-target=".culture" data-slide-to="1"></li>
                    <li data-target=".culture" data-slide-to="2"></li>
                    <li data-target=".culture" data-slide-to="3"></li>
                    <li data-target=".culture" data-slide-to="4"></li>
                    <li data-target=".culture" data-slide-to="5"></li>
                    <li data-target=".culture" data-slide-to="6"></li>
                    <li data-target=".culture" data-slide-to="7"></li>
                    <li data-target=".culture" data-slide-to="8"></li>
                    <li data-target=".culture" data-slide-to="9"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active no-margin">
                        <div class="picture-bg gol"></div>
                        <div class="carousel-caption">GOLDIIEE</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg gra"></div>
                        <div class="carousel-caption">GRAHAM NOLEN</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg jeb"></div>
                        <div class="carousel-caption">JEBSAR</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg kar"></div>
                        <div class="carousel-caption">KARLSTEINER</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg kyr"></div>
                        <div class="carousel-caption">KYRIOS APOLLYON</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg pop"></div>
                        <div class="carousel-caption">POPPLERRO</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg uns"></div>
                        <div class="carousel-caption">THE UNSEEN</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg tzb"></div>
                        <div class="carousel-caption">TZ BAKER</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg wea"></div>
                        <div class="carousel-caption">WEAPONSST</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg xay"></div>
                        <div class="carousel-caption">XAYO 207</div>
                    </div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".culture" data-slide="prev" class="prev"></div>
                    <div data-target=".culture" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Diplomats</h3>
            <div class="carousel slide fleet-composition" data-ride="carousel" data-interval="0">
                <ol class="carousel-indicators">
                    <li data-target=".fleet-composition" data-slide-to="0" class="active"></li>
                    <li data-target=".fleet-composition" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active no-margin">
                        <div class="picture-bg pop"></div>
                        <div class="carousel-caption">POPPLERRO</div>
                    </div>
                    <div class="item no-margin">
                        <div class="picture-bg sle"></div>
                        <div class="carousel-caption">SLEEPY THE DWARF</div>
                    </div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".fleet-composition" data-slide="prev" class="prev"></div>
                    <div data-target=".fleet-composition" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
</div>