<div class="row">
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Management</h3>
            <div class="carousel slide global-community" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target=".global-community" data-slide-to="0" class="active"></li>
                    <li data-target=".global-community" data-slide-to="1"></li>
                    <li data-target=".global-community" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".global-community" data-slide="prev" class="prev"></div>
                    <div data-target=".global-community" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Officers</h3>
            <div class="carousel slide culture" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target=".culture" data-slide-to="0" class="active"></li>
                    <li data-target=".culture" data-slide-to="1"></li>
                    <li data-target=".culture" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".culture" data-slide="prev" class="prev"></div>
                    <div data-target=".culture" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 shiny-box">
        <div class="bg"></div>
        <div class="box-focusarea"></div>
        <div class="box-content">
            <h3>Diplomats</h3>
            <div class="carousel slide fleet-composition" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target=".fleet-composition" data-slide-to="0" class="active"></li>
                    <li data-target=".fleet-composition" data-slide-to="1"></li>
                    <li data-target=".fleet-composition" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                </div>

                <div class="carousel-actions">
                    <div data-target=".fleet-composition" data-slide="prev" class="prev"></div>
                    <div data-target=".fleet-composition" data-slide="next" class="next"></div>
                </div>
            </div>
        </div>
    </div>
</div>