div.isn-core div.isn_team .row{margin:100px auto 0 auto;}div.isn-core div.isn_team .row .picture-bg{height:229px;background-size:contain;background-color:#000;background-repeat:no-repeat;background-position:center center;}div.isn-core div.isn_team .row .picture-bg.boz{background-image:url('../image/BOZL1N.jpg');}
div.isn-core div.isn_team .row .picture-bg.kod{background-image:url('../image/kodavor.jpg');}
div.isn-core div.isn_team .row .picture-bg.nob{background-image:url('../image/noble%20ranger.jpg');}
div.isn-core div.isn_team .row .picture-bg.rel{background-image:url('../image/relic%20amatin.jpg');}
div.isn-core div.isn_team .row .picture-bg.gol{background-image:url('../image/goldiiee.jpg');}
div.isn-core div.isn_team .row .picture-bg.gra{background-image:url('../image/graham%20nolen.jpg');}
div.isn-core div.isn_team .row .picture-bg.jeb{background-image:url('../image/jebsar.jpg');}
div.isn-core div.isn_team .row .picture-bg.kar{background-image:url('../image/karlsteiner.jpg');}
div.isn-core div.isn_team .row .picture-bg.kyr{background-image:url('../image/kyrios%20apollyon.jpg');}
div.isn-core div.isn_team .row .picture-bg.pop{background-image:url('../image/popplerro.jpg');}
div.isn-core div.isn_team .row .picture-bg.uns{background-image:url('../image/the%20unseen.jpg');}
div.isn-core div.isn_team .row .picture-bg.tzb{background-image:url('../image/tz%20baker.jpg');}
div.isn-core div.isn_team .row .picture-bg.wea{background-image:url('../image/weaponsst.jpg');}
div.isn-core div.isn_team .row .picture-bg.xay{background-image:url('../image/xayo%20207.jpg');}
div.isn-core div.isn_team .row .picture-bg.sle{background-image:url('../image/sleepy%20the%20dwarf.jpg');}
