div.isn-core {
    div.isn_team {
        .row {
            margin: 100px auto 0 auto;

            .picture-bg {
                height: 229px;
                background-size: contain;
                background-color: #000;
                background-repeat: no-repeat;
                background-position: center center;

                &.boz {
                    background-image: url('../image/BOZL1N.jpg');
                }

                &.kod {
                    background-image: url('../image/kodavor.jpg');
                }

                &.nob {
                    background-image: url('../image/noble%20ranger.jpg');
                }

                &.rel {
                    background-image: url('../image/relic%20amatin.jpg');
                }

                &.gol {
                    background-image: url('../image/goldiiee.jpg')
                }

                &.gra {
                    background-image: url('../image/graham%20nolen.jpg')
                }

                &.jeb {
                    background-image: url('../image/jebsar.jpg')
                }

                &.kar {
                    background-image: url('../image/karlsteiner.jpg')
                }

                &.kyr {
                    background-image: url('../image/kyrios%20apollyon.jpg')
                }

                &.pop {
                    background-image: url('../image/popplerro.jpg')
                }

                &.uns {
                    background-image: url('../image/the%20unseen.jpg')
                }

                &.tzb {
                    background-image: url('../image/tz%20baker.jpg')
                }

                &.wea {
                    background-image: url('../image/weaponsst.jpg')
                }

                &.xay {
                    background-image: url('../image/xayo%20207.jpg')
                }

                &.sle {
                    background-image: url('../image/sleepy%20the%20dwarf.jpg')
                }
            }

        }
    }
}