<div class="row">
    <div class="col-md-4 sites">
        <div class="bg">
            <h3>Proficiency</h3>
            <ol>
                <li>Vanguards (12-man fleets): 100+ Million ISK per hour</li>
                <li>Assaults (20-man fleets): 125+ Million ISK per hour</li>
                <li>Headquarters (40-man fleets): 200+ Million ISK per hour</li>
                <li>Kundalini Manifest (80-man fleets): 63 Million ISK per site</li>
            </ol>
        </div>
    </div>
    <div class="col-md-4 promo">
        <div class="bg">
            <h3>Promo Videos</h3>
        </div>
    </div>
    <div class="col-md-4 welcome">
        <div class="bg">
            sup
        </div>
    </div>
</div>